#root {

}
/* body{
  overflow-x: hidden;
} */
html,body{
  scroll-behavior: smooth;
  /* height: 100%; */

    width: 100%;
    overflow-x: hidden;
    position: relative;
  }


@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    height: 100%; /* or 'visible', depending on your specific needs */
  }
}
@media screen and (max-width: 441px){

  /* #end_screen { (NOte:-the end_screen is the wrapper div for all other div's inside it.) */
    body {
      overflow-x: hidden;
      /* height: 100%; or 'visible', depending on your specific needs */
    }
     
   }


/* text animation */
.reveal {
  background: var(--backgroundColor);
  padding-left: 30%;
  padding-right: 10%;
}

.reveal-text {
  /* font-weight: 800; */
  /* font-size: var(--headlineBig);
  line-height: var(--headlineBig);
  color: var(--backgroundColor); */
  /* filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2)); */
}

.spacing-small {
  height: 50vh;
}

.spacing {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}