
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Playfair+Display:wght@900&family=VT323&display=swap');
.font1 {
    font-family: 'Playfair Display SC', serif;
}
.font2 {
    font-family: 'Playfair Display', serif;
}

.font3 {
    font-family: 'VT323', monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');
.text-highlight {
    font-family: 'Instrument Serif', serif;

}
.text-font {
    font-family: 'Montagu Slab', serif;}
